{% extends "layouts/base_template.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<div>

</div>
    <!-- bar chart canvas element -->
    {% for i in range(0, labels|length)  %}
        <div class="col-lg-4 col-md-6 col-sm-12 canvas-parent" style="padding-top: 20px">
            <canvas id="myChart-{{ i }}" width="300" height="200" class="canvas"></canvas>
            <h3>{{ description[i] }}</h3>
            <a href="/settings?edit={{ ids[i] }}"><button> Edit</button></a>
            <a id='download("myChart-{{ i }}")' download="filename.jpeg" class="download-button" style="display: none"><button id="download"> Download </button></a>

        </div>
    {% endfor %}
{% endblock%}



{% block script %}
    <script>
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
    </script>

    {% for c in range(0, labels|length)  %}
<script>


    {#function download(id_name) {#}
    {#    var url_base64 = document.getElementById(id_name).toDataURL('image/jpeg');#}
    {#    $("#link").attr("href", url_base64)#}



    $('.home').addClass("active")

    colors = []
    {% for label in labels[c] %}
        colors.push(getRandomColor())
    {% endfor %}
      // Global parameters:
      // do not resize the chart canvas when its container does (keep at 600x400px)
      Chart.defaults.global.responsive = false;

      // define the chart data
      var chartData = {
        labels : [{% for item in labels[c] %}
                   "{{item}}",
                  {% endfor %}],
        datasets : [{
            {#label: '{{ legend[c] }}',#}
            fill: true,
            lineTension: 0.1,
            backgroundColor: colors,
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data : [{% for item in values[c] %}
                      {{item}},
                    {% endfor %}],
            spanGaps: false
        }]
      }

      // get chart canvas
      var holder = document.getElementById("{{"myChart-"+c|string}}");
      var ctx = document.getElementById("{{"myChart-"+c|string}}").getContext("2d");

      // create the chart using the chart canvas
      var myChart = new Chart(ctx, {
        type: '{{ graph_type[c] }}',
        data: chartData,
        options: {
            legend: {
                display: false
            },
            pan: {
                enabled: true,
                mode: 'y',
            },
            zoom: {
                enabled: true,
                mode: 'y',
            },
            responsive: true,
          tooltips: {
            enabled: true,
            mode: 'single',
            callbacks: {
              plabel: function(tooltipItems, data) {
                        console.log(tooltipItems)
                       return tooltipItems.yLabel;
                     }
            }
          },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        userCallback: function(label, index, labels) {
                            // when the floored value is the same as the value we have a whole number
                            if (Math.floor(label) === label) {
                                return label;
                            }

                        },
                    }
                }]
            }
        },
      });

</script>
    {% endfor %}
    <script>
        $(function() {
            function download() {
                console.log("download function ran")
                elements = document.getElementsByClassName("canvas-parent")

                for (let i = 0; i < elements.length; i++) {
                    var url_base64 = elements[i].children[1].toDataURL('image/jpeg')
                    elements[i].children[4].setAttribute("href", url_base64)
                }

                $(".download-button").show()
            }

            setTimeout(function(){ download(); }, 5000);

        })
    </script>
{% endblock%}
