{% extends "layouts/base_template.html" %}
{% block title %}Settings{% endblock %}

{% block content %}
    <div class="container">
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Setting</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="GET" action="/edit">
                        <div class="modal-body">

                            <input type="hidden" name="id" id="primary-id">
                            <div class="form-group">
                                <label for="text">From Date:</label>
                                <input type="date" class="form-control" id="model-date" name="date">
                            </div>

                            <div class="form-group">
                                <label for="text">To Date:</label>
                                <input type="date" class="form-control" id="model-date-end" name="end_date">
                            </div>

                            <div class="form-group">
                                <label for="text">Graph Description:</label>
                                <input type="text" class="form-control" id="text" name="desc">
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="model-chart" name="graph">
                                    <option value="bar">bar</option>
                                    <option value="line">line</option>
                                    <option value="pie">pie</option>
                                    <option value="doughnut">doughnut</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn" value="Submit">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Save changes">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div>
            <h1>Settings</h1>
        </div>
        <div class="center-block">
        <table class="table-striped table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Graph</th>
                    <th>Column</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for value, cnf in config %}
                <tr>
                    <td>{{ value[1] }}</td>
                    <td>{{ cnf["graph"] }}</td>
                    <td>{{ cnf["column"] }}</td>
                    <td>{{ cnf["date"] }}</td>
                    <td>{{ cnf["end_date"] }}</td>
                    <td> {{ cnf["description"] }} </td>
                    <td> <button class="btn btn-danger delete" value="{{ value[0] }}">Delete</button>
                        <button id="edit-{{ value[0] }}" type="button" class="btn btn-primary edit" data-toggle="modal"
                                data-target="#exampleModal" value="{{ value[0] }}"
                        graph="{{ cnf["graph"] }}" description="{{ cnf["description"] }}" date="{{ cnf["date"] }}" end_date="{{ cnf["end_date"] }}">
                            Edit
                        </button>
                    </td>
                </tr>
                {% endfor %}

            </tbody>
        </table>

        </div>
        <div>
            <h1>Add New Graph on Dashboard</h1>
            <form method="get" action="/storesettings" class="border">
                <div class="form-group">
                    <label for="text">From Date:</label>
                    <input type="date" class="form-control" id="date" name="date">
                </div>
                <div class="form-group">
                    <label for="text">To Date:</label>
                    <input type="date" class="form-control" id="date" name="end_date">
                </div>

                <div class="form-group">
                    <label for="text">Graph Description:</label>
                    <input type="text" class="form-control" id="text" name="desc">
                </div>

                <div class="form-group">
                    <label for="setting-table">Select table:</label>
                    <select name="table" class="tableselection form-control" name="table" id="setting-table">
                        <option disabled selected>Choose</option>
                        {% for table in tables %}
                            <option>{{table}}</option>
                        {% endfor %}
                    </select>

                </div>
                <div class="column-selection-div form-group">
                    <label for="text">Columns:</label>
                    <select class="js-example-basic-multiple column-selection form-control" name="columns" multiple="multiple">

                    </select>
                </div>
                <div class="column-selection-div form-group">
        {#            <button id="column-selected">Select</button>#}
                    <input type="button" value="Select" id="column-selected">
                </div>
                <div class="graph-selection-div form-group">
                    <select class="form-control graph-selection" name="graph">

                    </select>
                </div>
                <div class="graph-selection-div form-group">
                    <input type="submit" id="graph-selected" class="btn" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock%}
{% block script %}
<script>
$(function(){
    $('.settings').addClass("active")
    table_name = null
    $(".column-selection-div").hide()
    $(".graph-selection-div").hide()

	$(".tableselection").on('change',function(e){
		table_name = this.value
        if(table_name === "registration & verification"){
            {#$(".column-selection").select2('destroy');#}
            $(".column-selection-div").hide()
            $(".graph-selection-div").show()
            $(".graph-selection").html("<option>bar</option> " +
                "<option>line</option>" +
                "<option>pie</option>" +
                "<option>doughnut</option>")
        }else {
            $(".graph-selection-div").hide()
            $.get("/getTabledetails?table_name=" + table_name, function (data, status) {
                data_array = JSON.parse(data)
                $(".column-selection-div").show()
                $(".column-selection").html("")
                for (data in data_array) {
                    cnf = data+": "+data_array[data]
                    console.log(cnf)
                    $(".column-selection").append("<option cnf='"+cnf+"' value='" + data + "' '>" + data  + "</option>")
                    {#$(".column-selection").append("<option value='" + data + "' '>" + data + ": " + data_array[data] + "</option>")#}

                }
                $(".column-selection").select2()
            })
        }
	})

    $("#column-selected").on('click', function (e) {
        selected_datas = $(".column-selection").select2('data')
        /*for(i in selected_datas){
            console.log(selected_datas[i]["text"])
        }*/
        console.log(selected_datas[0]["text"], "")
        accm_value = selected_datas[0]["element"].getAttribute("cnf")
        if(Object.keys(selected_datas).length == 1 && (accm_value == "date: datetime" || accm_value == "city: varchar" || accm_value == "state: varchar" || accm_value.endsWith(": varchar") || accm_value.endsWith(": text"))){
            $(".graph-selection-div").show()
            $(".graph-selection").html("<option>bar</option> " +
                "<option>line</option>" +
                "<option>pie</option><option>doughnut</option>")
            {#$(".graph-selection").select2()#}
        }
    })

    $(".delete").on('click', function (e) {
        id_del = this.attributes.value.value
        if(confirm("deleting "+ id_del)) {
            $.get("/delete?id=" + id_del, function (data, status) {
                window.location = "/settings"
            })
        }
    })

    $(".edit").on('click', function (e) {
        $("#primary-id").val(this.value)
        $("#text").val(this.getAttribute("description"))
        $("#model-date").val(this.getAttribute("date"))
        $("#model-date-end").val(this.getAttribute("end_date"))
        old_chart = this.getAttribute("graph")
        selector = '#model-chart option[value='+old_chart+']'
        console.log(selector)
        $(selector).attr("selected", true);

    })

    $("#edit-{{ edit_id }}").click()

})
</script>
{% endblock%}
